---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bitwrap">
  <main class="w-screen h-screen items-center flex flex-col justify-center">
    <img class="w-32 h-32" src="./icon-rounded.png" alt="Bitwrap Logo" />
    <h1 class="text-4xl font-bold">Bitwrap</h1>
  </main>
</Layout>
