---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="./icon-rounded.png" />
    <meta name="darkreader-lock" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Exo+2&family=Lato&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="font-exo-2 min-h-screen w-full overflow-x-hidden overflow-y-auto text-white"
  >
    <slot />
  </body>
</html>
<style is:global>
  body {
    background: linear-gradient(
      to bottom,
      rgb(15, 23, 28) 24.5%,
      rgb(15, 23, 28) 66%
    );
  }
</style>
